body{
    -moz-white-space: pre-wrap; /* css-3 */
    -webkit-white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
    -ms-word-wrap: break-word;
    color: #727272;
    background-color: #EBEBF7;
}
h1,h2,h3,h4,h5,h6{
    color: #002745;
}

.pagination-content{
    margin: 15px auto;
}
.pagination-content > div{
    margin-bottom: 15px;
}

nav ul.pagination{
    margin: 0;
}

td.options{
    width: 70px;
}

.panel{
    border: 0;
    box-shadow:none;
    border-radius: 0;
}
.panel-heading{
    border-radius: 0;
    font-size: 2em;
    padding: 20px 30px;
}
.alert{
    border: 0;
    border-radius: 0;
}
.navbar-custom{
    border-radius: 0;
    background-color: #21252a;
    margin-bottom: 0;
}
.navbar-custom .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
    background-color: #252a30;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus,
.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus,
.navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fff;
    background-color: #252a30;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-nav > li > a,
.navbar-custom .navbar-nav .open .dropdown-menu > li > a {
    color: #7e8a99;
}

.navbar-custom .dropdown-menu .divider {
    background-color: #7e8a99;
}

h2 a.btnAction-sm,
h2 button.btnAction-sm,
.panel-heading a.btnAction-sm,
.panel-heading button.btnAction-sm{
    font-size: 14px;
}

a.btnAction-sm,
button.btnAction-sm{
    font-size: 0.8em;
    padding: 0px 5px;
}

.panel .panel-heading .label,
h2 .label {
    font-size: 0.46em;
}

/** ============================================================================
 * messages.php ================================================================
 * ========================================================================== */
#messages{
     position: fixed;
     top: 0;
     left: 0;
     z-index: 1040;
     overflow: hidden;
     -webkit-overflow-scrolling: touch;
     outline: 0;
 }

#messages-content{
    /*    width: 600px;
        margin: 30px auto;*/
}

/* install.php - login.php */
#install,
#login{margin-top: 100px; width: 600px;}

/** ============================================================================
 * menus.php =========================================================== 
 * ========================================================================== */
[data-page="menus"] h2 a.label{
    font-size: 45%;
}

/** ============================================================================
 * admin-menu.php =========================================================== 
 * ========================================================================== */
.sn-menu-content{
    padding:0;
    color: #647080;
    background-color: #21252a;
}
.sn-menu-content:before {
    content: '';
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: inherit;
    z-index: -1;
    background-color: inherit;
}
.sn-submenu,
.sn-menu{
    margin: 0;
    padding: 0;
}
.sn-menu li{
    display: block;
    position: relative;
    width: 100%;
    list-style: none;
}
.sn-menu > li{
    border-top: 1px solid #252a30;
    background-color: #252a30;
}
.sn-menu li a{
    color: #7e8a99;
    padding: 11px 25px 11px 15px;
    text-decoration: none;
    width: 100%;
    display: table;
}
.sn-menu > li > a{
    font-weight: 600;
}
.sidebar-submenu li a{
    color: #647080;
}
.sn-menu li a:hover,
.sn-submenu li a:hover{
    color: #b7bec6;
}
.sn-submenu{
    background-color: #181b1f;
}
/*.sn-menu h3 a{color: #fff;}
#sn-menu a{text-decoration: none;}
ul.list-group li {list-style: none;}
#sn-menu ul li:hover{background-color: #BCE8F2;}
#sn-menu ul ul.list-group{margin: 0;}
#sn-menu ul ul.list-group li{background-color: #EBEBE5; border-radius: 0;}
#sn-menu ul ul.list-group li:hover{background-color: #EBEBF7;}
#sn-menu ul ul.list-group li.list-group-item:last-child{border-bottom: none;}*/

/** ============================================================================
 * Bloque derecho (Contenido) General ================================= 
 * ========================================================================== */
.sn-content #snwrap{
    padding: 0 15px;
    margin-bottom: 20px;
}
.sn-content .list-group{margin-bottom: 0;}
.sn-content #snwrap span.pull-left{margin-right: 10px;}

/** index.php ========================================================= */
#content-left .list-group-item,
#content-right .list-group-item{border: 0;}

/** post.php ========================================================== */
#contentPost table{border: 1px solid #E5E5E5; background-color: #fff;}
#contentPost table > tbody > tr > td{border: 0;}

/**
 *
 * */
.btn-nostyle{
    display: inline-block;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 0px solid transparent;
}
.btn-nostyle.disabled{
    pointer-events: none;
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
}
.list-untyped{list-style-type: none;}
ul.list-untyped:first-child{padding-left: 0;}
