body{
    -moz-white-space: pre-wrap; /* css-3 */
    -webkit-white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
    -ms-word-wrap: break-word;
}

#container{
    margin-top: 20px;
}

.bg-grey{
    background-color: #e9e8e9;
}

.navbar-white {
    background-color: #ffffff;
    border-color: #ffffff;
}

.navbar{
    border-radius: 0px;
}

.pagination-content{
    margin: auto 130px;
}


/** ============================================================================
 * CONTENTS ====================================================================
 * ========================================================================== */
article{
    padding: 0px 10px 10px;
    margin-bottom: 30px;
}
.post-title{
    border-bottom: 5px solid #2172ba;
    background-color: #f9f9f9;
    padding: 0px 10px;
    margin: 15px 0px;
}

/** SIDEBAR ================================================================= */
.sidebar{
    margin-bottom: 10px;
}
.sidebar-title{
    background-color: #f9f9f9; 
    border-bottom: 5px solid #eee; 
    padding: 15px 10px;
    margin-bottom: 10px;
}
.sidebar-content{
    padding: 0px 10px;
}

/** COMMENTS ================================================================ */
#container-comments div[id*="comment-"],
#container-comments-form form{
    padding: 0px 15px;
    margin-bottom: 25px;
}