/* ==========================================
 * BOOTSTRAP
 */
@media (max-width: 991px) {
    .navbar-custom-menu > .navbar-nav > li > .dropdown-menu {
        right: 0;
    }

    .form-horizontal .control-label.col-md-1,
    .form-horizontal .control-label.col-md-2,
    .form-horizontal .control-label.col-md-3,
    .form-horizontal .control-label.col-md-4,
    .form-horizontal .control-label.col-md-5,
    .form-horizontal .control-label.col-md-6,
    .form-horizontal .control-label.col-md-7,
    .form-horizontal .control-label.col-md-8,
    .form-horizontal .control-label.col-md-9,
    .form-horizontal .control-label.col-md-10,
    .form-horizontal .control-label.col-md-11,
    .form-horizontal .control-label.col-md-12 {
        margin-bottom: 5px;
    }
}

.table td.td-btn-actions > div {
    visibility: hidden;
}

.table tr:hover > td.td-btn-actions > div {
    visibility: visible;
}

@media (min-width: 768px) {
    .form-horizontal.form-control-label-left .control-label {
        text-align: left;
    }
}

/* ==========================================
 * GENERAL
 */
body {
    white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
    -ms-word-wrap: break-word;
}

.main-header .sidebar-toggle:before {
    content: "";
}

/* PAGINATION =============================== */
.container-pagination .pagination {
    margin: 0;
}

@media (max-width: 768px) {
    .container-pagination .pagination {
        margin-top: 10px;
        float: none !important;
    }
}

/* DATA-TABLE =============================== */
.table th[data-column] {
    position: relative;
}

.table th[data-column] > span.glyphicon {
    position: absolute;
    top: 30%;
    right: 1%;
    display: block;
    opacity: 0.5;
}

/* MESSAGES =============================== */
#messages {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
}

/* JAVASCRIPT ============================= */
