body{
    color: #333;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    /* Evitar que el texto de salga de los contenedores */
    -moz-white-space: pre-wrap; /* css-3 */
    -webkit-white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
    -ms-word-wrap: break-word;
}
a {
    color: #428bca;
}
blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 17.5px;
    border-left: 5px solid #eee;
}
table {
    border-collapse: collapse;
    border: 1px solid #eaedf2;
    min-width: 100%;
}
tr{
    border-bottom: 1px solid #eaedf2
}
tr th{
    padding: 5px;
    background-color: #f8f9fa;
    border-bottom: 1px solid #eaedf2;
    border-right: 1px solid #eaedf2;
}
tr td{
    padding: 7px;
    border-right: 1px solid #eaedf2;
}
dl,
dl dd {
    margin-left: 20px;
}
dt {
    font-weight: bold;
}
ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
}
abbr,
acronym{
    cursor: help;
    border-bottom: 1px dotted;
}
code{
    padding: 2px 4px;
    color: #c7254e;
    background-color: #F9F2D4;
}
pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #F5F5F0;
    border: 1px solid #ccc;
    border-radius: 4px;
}
textArea{
    width: 100%;
}

.container{margin: 0 auto;}

section header{
    overflow: hidden;
}

nav.menu-nav .showMenu .titleMenu{
    display: none;
}

nav.menu-nav{
    border-bottom: 1px solid #f1f1f1;
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
}
nav.menu-nav ul{
    list-style: none;
    padding: 0;
    position: relative;
}
nav.menu-nav ul li{
    float: left;
    border-left: 1px solid #f1f1f1;
    position: relative;
}
nav.menu-nav ul li a{
    padding: 25px;
    height: 100%;
    display: block;
    text-decoration: none;
    color: #777;
}
nav.menu-nav ul li a:hover{
    background-color: #FF8539;
    color: #fff;
}

.clearfix{
    clear: both;
    overflow: auto;
}

.container .col-left header h2{
    font-size: 2.5em;
    border-bottom: 1px solid #f1f1f1;
}

.widgets .widget-title h2{
    border-bottom: 1px solid #f1f1f1;
}

@media (max-width: 767px) {
    nav.menu-nav .showMenu .titleMenu{
        display: block;
        padding: 20px;
        font-size: 2em;
    }

    nav.menu-nav ul.menu-list{
        display: none;
    }

    nav.menu-nav ul li {
        float: none; 
        border-left: none;
        padding-left: 10px;
    }

    nav.menu-nav .showMenu:hover ul.menu-list{
        display: block;
    }
    
    .container{
        padding: 0 10px
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .container {
        width: 970px;
    }
    .col-left{
        width: 700px;
        float: left;
    }
    .col-right{
        width: 250px;
        float: right;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
    .col-left{
        width: 800px;
        float: left;
    }
    .col-right{
        width: 300px;
        float: right;
    }
}